RESPONSEFILE_VERSION=2.2.1.0.0
s_shiphomeLocation="/mnt/u01/siebel/software_repository/siebel-Linux-20.4.0.0/Siebel_Install_Image/20.4.0.0.update/Linux/Server/Siebel_Enterprise_Server/Disk1"
FROM_LOCATION="/mnt/u01/siebel/software_repository/siebel-Linux-20.4.0.0/Siebel_Install_Image/20.4.0.0.update/Linux/Server/Siebel_Enterprise_Server/Disk1/stage/products.xml"
s_topLevelComp="oracle.siebel.ses"
s_SiebelVersion="20.4.0.0.0"
ORACLE_HOME="/u01/Siebel/gw"
ORACLE_HOME_NAME="Siebel_Home__opt_siebel_gw_Siebel"
b_isGatewayInstalled="true"
b_isSiebsrvrInstalled="false"
b_isApplicationInterfaceInstalled="false"
b_isEnterpriseCacheInstalled="false"
b_isConstraintEngineInstalled="false"
selectedLangs="[English]"
DEINSTALL_LIST={"oracle.siebel.ses","20.4.0.0.0"}
SHOW_DEINSTALL_CONFIRMATION=true
SHOW_DEINSTALL_PROGRESS=true
